name: Release

on:
  push:
    branches:
      - main
      - alpha
      - beta
      - canary
      - next
      - next-major
      - '[0-9]+.x'

permissions:
  issues: write
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: false

    steps:
      - uses: actions/checkout@v6

      - uses: ./setup-node-and-install

      - name: validate before release
        run: |
          pnpm install
          pnpm lint
          pnpm test
        env:
          CI: true

      - name: semantic release
        id: semantic
        uses: docker://ghcr.io/codfish/semantic-release-action@sha256:c6a4e05d93f73f2870887434c1286df7a23a55770be16cb826b6e2432f92e650
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update major version tag
        if: steps.semantic.outputs.new-release-published == 'true'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag -fa v${{ steps.semantic.outputs.release-major }} -m "Update v${{ steps.semantic.outputs.release-major }} tag"
          git push origin v${{ steps.semantic.outputs.release-major }} --force
